In [45]:
import os.path
import yaml
from sqlalchemy import text, create_engine, MetaData
from sqlalchemy import Table, Column, Integer, String, ForeignKey, bindparam
from sqlalchemy.orm import declarative_base, relationship, Session
from sqlalchemy import insert, select
import psycopg2
from sqlalchemy import func, cast
from sqlalchemy import text
from sqlalchemy import literal_column
from sqlalchemy import and_, or_
from sqlalchemy import desc, union_all
from sqlalchemy.orm import aliased

yamlfilepath = os.path.expanduser('~\\yamlfiles\\information.yaml') 
with open(yamlfilepath) as f:
    login = yaml.load(f, Loader=yaml.FullLoader)

address = f'postgresql://{login["user"]}:{login["pw"]}@localhost:{login["port"]}/{login["db"]}'
engine = create_engine(address)

In [46]:
metadata_obj = MetaData()

user_table = Table(
    "user_account",
    metadata_obj,
    Column('id', Integer, primary_key=True), 
    Column('name', String(30)),
    Column('fullname',String)

)

In [47]:
print(user_table.c.keys())

['id', 'name', 'fullname']

In [48]:
address_table = Table(
    "address",
    metadata_obj,
    Column('id', Integer, primary_key=True),
    Column('user_id', ForeignKey('user_account.id'), nullable=False),
    Column('email_address', String, nullable=False)
)

metadata_obj.create_all(engine)

In [49]:
Base = declarative_base()
class User(Base):
    __tablename__ = 'user_account'
    
    id = Column(Integer, primary_key=True)
    name = Column(String(30))
    fullname = Column(String)
    
    addresses = relationship("Address", back_populates='user')
    
    def __repr__(self):
        return f"User(id={self.id!r}, name={self.name!r}, fullname={self.fullname!r})"
    
    
    
class Address(Base):
    __tablename__='address'
    
    id = Column(Integer, primary_key=True)
    email_address = Column(String, nullable=False)
    user_id = Column(Integer, ForeignKey('user_account.id'))
    
    user = relationship("User", back_populates="addresses")
    
    def __repr__(self):
        return f"Address(id={self.id!r}, email_address={self.email_address!r})"

In [50]:
print(User.__table__)

user_account

In [51]:
sandy = User(name='sandy', fullname='sandy cheeks')

In [52]:
print(sandy)

User(id=None, name='sandy', fullname='sandy cheeks')

In [53]:
some_table = Table("some_table", metadata_obj, autoload_with=engine)

In [54]:
stmt = insert(user_table).values(name='spongebob', fullname='spongebob squarepants')
compiled = stmt.compile()
with engine.connect() as conn:
    result = conn.execute(stmt)

In [55]:
with engine.connect() as conn:
    result = conn.execute(
    insert(user_table),
        [
            {"name": "sandy", "fullname": 'Sandy Cheeks'},
            {"name": "patrick", "fullname": "Patrick Star"}
        ] 
    )

In [56]:
result = select(user_table).where(user_table.c.name == 'sandy')

with engine.connect() as conn:
    for row in conn.execute(result):
        print(row)

(2, 'sandy', 'Sandy Cheeks')

In [57]:
scalar_subq = (
    select(user_table.c.id).
    where(user_table.c.name==bindparam('username')).
    scalar_subquery()
)


print(scalar_subq)

with engine.connect() as conn:
    result = conn.execute(
        insert(address_table).values(user_id=scalar_subq),
        [
            {"username": 'spongebob', "email_address": "spongebob@sqlalchemy.org"},
            {"username": 'sandy', "email_address": "sandy@sqlalchemy.org"},
            {"username": 'sandy', "email_address": "sandy@squirrelpower.org"}
        ]
    )

(SELECT user_account.id
FROM user_account
WHERE user_account.name = :username)

In [58]:
print(select(user_table))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account

In [59]:
print(select(user_table.c.name, user_table.c.fullname))

SELECT user_account.name, user_account.fullname
FROM user_account

In [60]:
print(select(User))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account

In [61]:
with Session(engine) as session:
    row = session.execute(select(User)).first()
    print(row)

(User(id=1, name='spongebob', fullname='spongebob squarepants'),)

In [62]:
with Session(engine) as session:
    row = session.execute(
        select(User.name, Address).
        where(User.id==Address.user_id).
        order_by(Address.id)
    ).all()
    print(row)

[('spongebob', Address(id=1, email_address='spongebob@sqlalchemy.org')), ('sandy', Address(id=2, email_address='sandy@sqlalchemy.org')), ('sandy', Address(id=3, email_address='sandy@squirrelpower.org'))]

In [63]:


stmt = (
    select(
        ("Username: "+user_table.c.name).label("username"),
    ).order_by(user_table.c.name)
)
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(f"{row.username}")

Username: patrick
Username: sandy
Username: spongebob

In [64]:

stmt = (
    select(
        text("'some phrase'"), user_table.c.name
    ).order_by(user_table.c.name)
)
with engine.connect() as conn:
    print(conn.execute(stmt).all())

[('some phrase', 'patrick'), ('some phrase', 'sandy'), ('some phrase', 'spongebob')]

In [65]:

stmt = (
    select(
        literal_column("'some phrase'").label("p"), user_table.c.name
    ).order_by(user_table.c.name)



)
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(f"{row.p}, {row.name}")

some phrase, patrick
some phrase, sandy
some phrase, spongebob

In [66]:
print(select(user_table).where(user_table.c.name == 'squidward'))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = :name_1

In [67]:
print(
    select(address_table.c.email_address).
    where(user_table.c.name=='squidward').
    where(address_table.c.user_id == user_table.c.id)

)

SELECT address.email_address
FROM address, user_account
WHERE user_account.name = :name_1 AND address.user_id = user_account.id

In [68]:
print(
    select(address_table.c.email_address).
    where(
        user_table.c.name == 'squidward',
        address_table.c.user_id == user_table.c.id
    )
)

SELECT address.email_address
FROM address, user_account
WHERE user_account.name = :name_1 AND address.user_id = user_account.id

In [69]:

print(
    select(Address.email_address).
    where(
        and_(
            or_(User.name == 'squidward', User.name == 'sandy'),
            Address.user_id == User.id
        )
    )
)

SELECT address.email_address
FROM address, user_account
WHERE (user_account.name = :name_1 OR user_account.name = :name_2) AND address.user_id = user_account.id

In [70]:
print(
    select(User).filter_by(name='spongebob', fullname='Spongebob Squarepants')
)

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = :name_1 AND user_account.fullname = :fullname_1

In [71]:
print(select(user_table.c.name))

SELECT user_account.name
FROM user_account

In [72]:
print(select(user_table.c.name, address_table.c.email_address))

SELECT user_account.name, address.email_address
FROM user_account, address

In [73]:
 print(
    select(user_table.c.name, address_table.c.email_address).
    join_from(user_table, address_table)
 )

SELECT user_account.name, address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id

In [74]:
print(
    select(address_table.c.email_address).
    select_from(user_table).join(address_table)
)

SELECT address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id

In [75]:

print(
    select(func.count('*')).select_from(user_table)
)

SELECT count(:count_2) AS count_1
FROM user_account

In [76]:
print(
    select(address_table.c.email_address).
    select_from(user_table).
    join(address_table, user_table.c.id==address_table.c.user_id)

)

SELECT address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id

In [77]:
print(
    select(user_table).join(address_table, isouter=True)
)

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account LEFT OUTER JOIN address ON user_account.id = address.user_id

In [78]:
print(select(user_table).order_by(user_table.c.name))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account ORDER BY user_account.name

In [79]:
#order by
print(select(user_table).order_by(user_table.c.name))
print(select(User).order_by(User.fullname.desc()))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account ORDER BY user_account.name
SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account ORDER BY user_account.fullname DESC

In [80]:
#group by, having


count_fn = func.count(user_table.c.id)
print(count_fn)

count(user_account.id)

In [81]:
with engine.connect() as conn:
    result = conn.execute(
        select(User.name, func.count(Address.id).label("count")).
        join(Address).
        group_by(User.name).
        having(func.count(Address.id) > 1)
    )
    print(result.all())

[('sandy', 2)]

In [82]:

stmt = select(
    Address.user_id,
    func.count(Address.id).label('num_addresses')).\
    group_by("user_id").order_by("user_id", desc("num_addresses"))

print(stmt)

SELECT address.user_id, count(address.id) AS num_addresses
FROM address GROUP BY address.user_id ORDER BY address.user_id, num_addresses DESC

In [83]:
#using aliases
user_alias_1 = user_table.alias()
user_alias_2 = user_table.alias()
print(
    select(user_alias_1.c.name, user_alias_2.c.name).
    join_from(user_alias_1, user_alias_2, user_alias_1.c.id > user_alias_2.c.id)


)

SELECT user_account_1.name, user_account_2.name AS name_1
FROM user_account AS user_account_1 JOIN user_account AS user_account_2 ON user_account_1.id > user_account_2.id

In [84]:
#ORM Entity Aliases

address_alias_1 = aliased(Address)
address_alias_2 = aliased(Address)
print(
    select(User).
    join_from(User, address_alias_1).
    where(address_alias_1.email_address == 'patrick@aol.com').
    join_from(User, address_alias_2).
    where(address_alias_2.email_address == 'patrick@gmail.com')
 )

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account JOIN address AS address_1 ON user_account.id = address_1.user_id JOIN address AS address_2 ON user_account.id = address_2.user_id
WHERE address_1.email_address = :email_address_1 AND address_2.email_address = :email_address_2

In [85]:
#subqueries and ctes
subq = select(
    func.count(address_table.c.id).label("count"),
    address_table.c.user_id
).group_by(address_table.c.user_id).subquery()

print(subq)
print(select(subq.c.user_id, subq.c.count))

SELECT count(address.id) AS count, address.user_id
FROM address GROUP BY address.user_id
SELECT anon_1.user_id, anon_1.count
FROM (SELECT count(address.id) AS count, address.user_id AS user_id
FROM address GROUP BY address.user_id) AS anon_1

In [86]:
stmt = select(
    user_table.c.name,
    user_table.c.fullname,
    subq.c.count
).join_from(user_table, subq)

print(stmt)

SELECT user_account.name, user_account.fullname, anon_1.count
FROM user_account JOIN (SELECT count(address.id) AS count, address.user_id AS user_id
FROM address GROUP BY address.user_id) AS anon_1 ON user_account.id = anon_1.user_id

In [87]:
subq = select(
    func.count(address_table.c.id).label("count"),
    address_table.c.user_id
).group_by(address_table.c.user_id).subquery()

print(subq)
print(select(subq.c.user_id, subq.c.count))

SELECT count(address.id) AS count, address.user_id
FROM address GROUP BY address.user_id
SELECT anon_1.user_id, anon_1.count
FROM (SELECT count(address.id) AS count, address.user_id AS user_id
FROM address GROUP BY address.user_id) AS anon_1

In [88]:
stmt = select(
    user_table.c.name,
    user_table.c.fullname,
    subq.c.count
).join_from(user_table, subq)

print(stmt)

SELECT user_account.name, user_account.fullname, anon_1.count
FROM user_account JOIN (SELECT count(address.id) AS count, address.user_id AS user_id
FROM address GROUP BY address.user_id) AS anon_1 ON user_account.id = anon_1.user_id

In [89]:
subq = select(
    func.count(address_table.c.id).label("count"),
    address_table.c.user_id
).group_by(address_table.c.user_id).cte()
           
stmt = select(
    user_table.c.name,
    user_table.c.fullname,
    subq.c.count
).join_from(user_table, subq)
           
print(stmt)

WITH anon_1 AS
(SELECT count(address.id) AS count, address.user_id AS user_id
FROM address GROUP BY address.user_id)
 SELECT user_account.name, user_account.fullname, anon_1.count
FROM user_account JOIN anon_1 ON user_account.id = anon_1.user_id

In [90]:
subq = select(Address).where(~Address.email_address.like('%@aol.com')).subquery()
address_subq = aliased(Address, subq)
stmt = select(User, address_subq).join_from(User, address_subq).order_by(User.id, address_subq.id)
with Session(engine) as session:
    for user, address in session.execute(stmt):
        print(f"{user} {address}")

User(id=1, name='spongebob', fullname='spongebob squarepants') Address(id=1, email_address='spongebob@sqlalchemy.org')
User(id=2, name='sandy', fullname='Sandy Cheeks') Address(id=2, email_address='sandy@sqlalchemy.org')
User(id=2, name='sandy', fullname='Sandy Cheeks') Address(id=3, email_address='sandy@squirrelpower.org')

In [91]:
cte_obj = select(Address).where(~Address.email_address.like('%@aol.com')).cte()
address_cte = aliased(Address, cte_obj)
stmt = select(User, address_cte).join_from(User, address_cte).order_by(User.id, address_cte.id)
with Session(engine) as session:
    for user, address in session.execute(stmt):
        print(f"{user} {address}")

User(id=1, name='spongebob', fullname='spongebob squarepants') Address(id=1, email_address='spongebob@sqlalchemy.org')
User(id=2, name='sandy', fullname='Sandy Cheeks') Address(id=2, email_address='sandy@sqlalchemy.org')
User(id=2, name='sandy', fullname='Sandy Cheeks') Address(id=3, email_address='sandy@squirrelpower.org')

In [92]:
subq = select(func.count(address_table.c.id)).\
    where(user_table.c.id == address_table.c.user_id).\
    scalar_subquery()
print(subq)

(SELECT count(address.id) AS count_1
FROM address, user_account
WHERE user_account.id = address.user_id)

In [93]:
print(subq == 5)

(SELECT count(address.id) AS count_1
FROM address, user_account
WHERE user_account.id = address.user_id) = :param_1

In [94]:
stmt = select(user_table.c.name, subq.label("address_count"))
print(stmt)

SELECT user_account.name, (SELECT count(address.id) AS count_1
FROM address
WHERE user_account.id = address.user_id) AS address_count
FROM user_account

In [95]:
subq = select(func.count(address_table.c.id)).\
        where(user_table.c.id == address_table.c.user_id).\
        scalar_subquery().correlate(user_table)

with engine.connect() as conn:
    result = conn.execute(
        select(
            user_table.c.name,
            address_table.c.email_address,
            subq.label("address_count")
        ).
        join_from(user_table, address_table).
        order_by(user_table.c.id, address_table.c.id)
    )
    print(result.all())
    
#scalar_subquery() 함수를 통해 user_table 상관관계를 명시함으로 오류 해결

[('spongebob', 'spongebob@sqlalchemy.org', 1), ('sandy', 'sandy@sqlalchemy.org', 2), ('sandy', 'sandy@squirrelpower.org', 2)]

In [102]:
stmt1 = select(user_table).where(user_table.c.name == 'sandy')
stmt2 = select(user_table).where(user_table.c.name == 'spongebob')
u = union_all(stmt1, stmt2)
with engine.connect() as conn:
    result = conn.execute(u)
    print(result.all())

[(2, 'sandy', 'Sandy Cheeks'), (1, 'spongebob', 'spongebob squarepants')]

In [103]:
u_subq = u.subquery()
stmt = (
    select(u_subq.c.name, address_table.c.email_address).
    join_from(address_table, u_subq).
    order_by(u_subq.c.name, address_table.c.email_address)
)
with engine.connect() as conn:
    result = conn.execute(stmt)
    print(result.all())

[('sandy', 'sandy@sqlalchemy.org'), ('sandy', 'sandy@squirrelpower.org'), ('spongebob', 'spongebob@sqlalchemy.org')]

In [104]:
orm_stmt = select(User).from_statement(u)
with Session(engine) as session:
    for obj in session.execute(orm_stmt).scalars():
        print(obj)

User(id=2, name='sandy', fullname='Sandy Cheeks')
User(id=1, name='spongebob', fullname='spongebob squarepants')

In [106]:
# user_alias = aliased(User, u.subquery())
# orm_stmt = select(user_alias).order_by(user_alias.id)
# with Session(engine) as session:
#     for obj in session.execute(orm_stmt).scalars():
#         print(obj)

In [108]:
subq = (
    select(func.count(address_table.c.id)).
    where(user_table.c.id == address_table.c.user_id).
    group_by(address_table.c.user_id).
    having(func.count(address_table.c.id) > 1)
).exists()
with engine.connect() as conn:
    result = conn.execute(
        select(user_table.c.name).where(subq)
    )
    print(result.all())

[('sandy',)]

In [110]:
subq = (
    select(address_table.c.id).
    where(user_table.c.id == address_table.c.user_id)
).exists()
with engine.connect() as conn:
    result = conn.execute(
        select(user_table.c.name).where(~subq)
    )
    print(result.all())

[('patrick',)]

In [111]:
print(select(func.count()).select_from(user_table))

SELECT count(*) AS count_1
FROM user_account

In [112]:
print(select(func.lower("A String With Much UPPERCASE")))

SELECT lower(:lower_2) AS lower_1

In [113]:
stmt = select(func.now())
with engine.connect() as conn:
    result = conn.execute(stmt)
    print(result.all())

[(datetime.datetime(2021, 11, 22, 13, 42, 18, 766539, tzinfo=datetime.timezone(datetime.timedelta(seconds=32400))),)]

In [114]:
print(select(func.some_crazy_function(user_table.c.name, 17)))

SELECT some_crazy_function(user_account.name, :some_crazy_function_2) AS some_crazy_function_1
FROM user_account

In [115]:
from sqlalchemy.dialects import postgresql
print(select(func.now()).compile(dialect=postgresql.dialect()))

SELECT now() AS now_1

In [123]:
m1 = func.max(Column("some_int", Integer))
m1.type

Integer()

In [124]:
m2 = func.max(Column("some_str", String))
m2.type

String()

In [125]:
func.now().type

DateTime()

In [126]:
func.current_date().type

Date()

In [137]:
stmt = select(
    func.row_number().over(partition_by=user_table.c.name),
    user_table.c.name,
    address_table.c.email_address
).select_from(user_table).join(address_table)

with engine.connect() as conn:
    result = conn.execute(stmt)
    print(result.all())

[(1, 'sandy', 'sandy@sqlalchemy.org'), (2, 'sandy', 'sandy@squirrelpower.org'), (1, 'spongebob', 'spongebob@sqlalchemy.org')]

In [138]:
print(
    func.unnest(
        func.percentile_disc([0.25,0.5,0.75,1]).within_group(user_table.c.name)
    )
)
# unnest(percentile_disc(:percentile_disc_1) WITHIN GROUP (ORDER BY user_account.name))

unnest(percentile_disc(:percentile_disc_1) WITHIN GROUP (ORDER BY user_account.name))

In [139]:
stmt = select(
    func.count(address_table.c.email_address).filter(user_table.c.name == 'sandy'),
    func.count(address_table.c.email_address).filter(user_table.c.name == 'spongebob')
).select_from(user_table).join(address_table)
with engine.connect() as conn:
    result = conn.execute(stmt)
    print(result.all())

[(2, 1)]

In [155]:
#json_each 오류 발생으로 json_array_elements_text함수로 대체
onetwothree = func.json_each('["one", "two", "three"]').table_valued("value")
stmt = select(onetwothree).where(onetwothree.c.value.in_(["two", "three"]))
print(stmt)
# with engine.connect() as conn:  
#     result = conn.execute(stmt)
#     print(result.all())

SELECT anon_1.value
FROM json_each(:json_each_1) AS anon_1
WHERE anon_1.value IN ([POSTCOMPILE_value_1])

In [146]:
#json_each 오류 발생으로 json_array_elements_text함수로 대체
onetwothree = func.json_array_elements_text('["one", "two", "three"]').table_valued("value")
stmt = select(onetwothree).where(onetwothree.c.value.in_(["two", "three"]))
with engine.connect() as conn:  
    result = conn.execute(stmt)
    print(result.all())

[('two',), ('three',)]

In [147]:
stmt = select(func.json_array_elements('["one", "two"]').column_valued("x"))
print(stmt)

SELECT x
FROM json_array_elements(:json_array_elements_1) AS x

In [149]:
from sqlalchemy.dialects import oracle
stmt = select(func.sclar_strings(5).column_valued("s"))
print(stmt.compile(dialect=oracle.dialect()))

SELECT COLUMN_VALUE s
FROM TABLE (sclar_strings(:sclar_strings_1)) s

In [151]:
from sqlalchemy import select, func
stmt = select(func.json_each('{"a":"foo", "b":"bar"}').table_valued("key", "value"))
print(stmt)

SELECT anon_1.key, anon_1.value
FROM json_each(:json_each_1) AS anon_1

In [156]:
from sqlalchemy import select, func, literal_column
stmt = select(
    func.json_populate_record(
        literal_column("null::myrowtype"),
        '{"a":1, "b":2}'
    ).table_valued("a", "b", name="x")
)
print(stmt)

SELECT x.a, x.b
FROM json_populate_record(null::myrowtype, :json_populate_record_1) AS x

# UPDATE and DELETE

In [157]:
from sqlalchemy import update
stmt = (
    update(user_table).where(user_table.c.name == 'patrick').
    values(fullname='Patrick the Star')
)
print(stmt)

UPDATE user_account SET fullname=:fullname WHERE user_account.name = :name_1

In [159]:
stmt = (
    update(user_table).
    values(fullname="Username: " + user_table.c.name)
)
print(stmt)

UPDATE user_account SET fullname=(:name_1 || user_account.name)

In [160]:
from sqlalchemy import bindparam
stmt = (
    update(user_table).
    where(user_table.c.name == bindparam('oldname')).
    values(name=bindparam('newname'))
)

with engine.begin() as conn:
    conn.execute(
        stmt,
        [
            {'oldname':'jack', 'newname':'ed'},
            {'oldname':'wendy', 'newname':'mary'},
            {'oldname':'jim', 'newname':'jake'},
        ]
    )

In [162]:
scalar_subq = (
    select(address_table.c.email_address).
    where(address_table.c.user_id == user_table.c.id).
    order_by(address_table.c.id).
    limit(1).
    scalar_subquery()
)
update_stmt = update(user_table).values(fullname=scalar_subq)
print(update_stmt)

UPDATE user_account SET fullname=(SELECT address.email_address
FROM address
WHERE address.user_id = user_account.id ORDER BY address.id
 LIMIT :param_1)

In [163]:
update_stmt = (
    update(user_table).
    where(user_table.c.id == address_table.c.user_id).
    where(address_table.c.email_address == 'patrick@aol.com').
    values(fullname='Pat')
)
print(update_stmt)

UPDATE user_account SET fullname=:fullname FROM address WHERE user_account.id = address.user_id AND address.email_address = :email_address_1

In [164]:
update_stmt = (

    update(user_table).
    where(user_table.c.id == address_table.c.user_id).
    where(address_table.c.email_address == 'patrick@aol.com').
    values(
        {
            user_table.c.fullname: "Pat",
            address_table.c.email_address: "pat@aol.com"
        }
    )
)

from sqlalchemy.dialects import mysql
print(update_stmt.compile(dialect=mysql.dialect()))

UPDATE user_account, address SET address.email_address=%s, user_account.fullname=%s WHERE user_account.id = address.user_id AND address.email_address = %s

In [165]:
update_stmt = (
    update(some_table).
    ordered_values(
        (some_table.c.y, 20),
        (some_table.c.x, some_table.c.y + 10)
    )
)
print(update_stmt)

UPDATE some_table SET y=:y, x=(some_table.y + :y_1)

In [166]:
from sqlalchemy import delete
stmt = delete(user_table).where(user_table.c.name == 'patrick')
print(stmt)

DELETE FROM user_account WHERE user_account.name = :name_1

In [168]:
delete_stmt = (
    delete(user_table).
    where(user_table.c.id == address_table.c.user_id).
    where(address_table.c.email_address == 'patrick@aol.com')
)

from sqlalchemy.dialects import postgresql
print(delete_stmt.compile(dialect=postgresql.dialect()))

DELETE FROM user_account USING address WHERE user_account.id = address.user_id AND address.email_address = %(email_address_1)s

In [169]:
update_stmt = (
    update(user_table).where(user_table.c.name == 'patrick').
    values(fullname='Patrick the Star').
    returning(user_table.c.id, user_table.c.name)
)
print(update_stmt)

UPDATE user_account SET fullname=:fullname WHERE user_account.name = :name_1 RETURNING user_account.id, user_account.name

In [170]:
delete_stmt = (
    delete(user_table).where(user_table.c.name == 'patrick').
    returning(user_table.c.id, user_table.c.name)
)
print(delete_stmt)

DELETE FROM user_account WHERE user_account.name = :name_1 RETURNING user_account.id, user_account.name

In [171]:
squidward = User(name="squidward", fullname="Squidward Tentacles")
krabs = User(name="ehkrabs", fullname="Eugene H. krabs")

In [172]:
squidward

User(id=None, name='squidward', fullname='Squidward Tentacles')

In [173]:
session = Session(engine)
session.add(squidward)
session.add(krabs)
session.new

IdentitySet([User(id=None, name='squidward', fullname='Squidward Tentacles'), User(id=None, name='ehkrabs', fullname='Eugene H. krabs')])

In [174]:
session.flush()

In [176]:
squidward.id

4

In [177]:
krabs.id

5

In [178]:
some_squidward = session.get(User, 4)
some_squidward

NameError: name 'sone_squidward' is not defined