In [103]:
import os.path
import yaml
from sqlalchemy import text, create_engine, MetaData
from sqlalchemy import Table, Column, Integer, String, ForeignKey, bindparam
from sqlalchemy.orm import declarative_base, relationship, Session
from sqlalchemy import insert, select
import psycopg2

yamlfilepath = os.path.expanduser('~\\yamlfiles\\information.yaml') 
with open(yamlfilepath) as f:
    login = yaml.load(f, Loader=yaml.FullLoader)

address = f'postgresql://{login["user"]}:{login["pw"]}@localhost:{login["port"]}/{login["db"]}'
engine = create_engine(address)

In [63]:
metadata_obj = MetaData()

user_table = Table(
    "user_account",
    metadata_obj,
    Column('id', Integer, primary_key=True), 
    Column('name', String(30)),
    Column('fullname',String)

)

In [64]:
print(user_table.c.keys())

['id', 'name', 'fullname']

In [65]:
address_table = Table(
    "address",
    metadata_obj,
    Column('id', Integer, primary_key=True),
    Column('user_id', ForeignKey('user_account.id'), nullable=False),
    Column('email_address', String, nullable=False)
)

metadata_obj.create_all(engine)

In [66]:
Base = declarative_base()
class User(Base):
    __tablename__ = 'user_account'
    
    id = Column(Integer, primary_key=True)
    name = Column(String(30))
    fullname = Column(String)
    
    addresses = relationship("Address", back_populates='user')
    
    def __repr__(self):
        return f"User(id={self.id!r}, name={self.name!r}, fullname={self.fullname!r})"
    
    
    
class Address(Base):
    __tablename__='address'
    
    id = Column(Integer, primary_key=True)
    email_address = Column(String, nullable=False)
    user_id = Column(Integer, ForeignKey('user_account.id'))
    
    user = relationship("User", back_populates="addresses")
    
    def __repr__(self):
        return f"Address(id={self.id!r}, email_address={self.email_address!r})"

In [67]:
print(User.__table__)

user_account

In [68]:
sandy = User(name='sandy', fullname='sandy cheeks')

In [69]:
print(sandy)

User(id=None, name='sandy', fullname='sandy cheeks')

In [70]:
some_table = Table("some_table", metadata_obj, autoload_with=engine)

In [71]:
stmt = insert(user_table).values(name='spongebob', fullname='spongebob squarepants')
compiled = stmt.compile()
with engine.connect() as conn:
    result = conn.execute(stmt)

In [72]:
with engine.connect() as conn:
    result = conn.execute(
    insert(user_table),
        [
            {"name": "sandy", "fullname": 'Sandy Cheeks'},
            {"name": "patrick", "fullname": "Patrick Star"}
        ] 
    )

In [73]:
result = select(user_table).where(user_table.c.name == 'sandy')

with engine.connect() as conn:
    for row in conn.execute(result):
        print(row)

(2, 'sandy', 'Sandy Cheeks')

In [74]:
scalar_subq = (
    select(user_table.c.id).
    where(user_table.c.name==bindparam('username')).
    scalar_subquery()
)


print(scalar_subq)

with engine.connect() as conn:
    result = conn.execute(
        insert(address_table).values(user_id=scalar_subq),
        [
            {"username": 'spongebob', "email_address": "spongebob@sqlalchemy.org"},
            {"username": 'sandy', "email_address": "sandy@sqlalchemy.org"},
            {"username": 'sandy', "email_address": "sandy@squirrelpower.org"}
        ]
    )

(SELECT user_account.id
FROM user_account
WHERE user_account.name = :username)

In [76]:
print(select(user_table))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account

In [77]:
print(select(user_table.c.name, user_table.c.fullname))

SELECT user_account.name, user_account.fullname
FROM user_account

In [78]:
print(select(User))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account

In [79]:
with Session(engine) as session:
    row = session.execute(select(User)).first()
    print(row)

(User(id=1, name='spongebob', fullname='spongebob squarepants'),)

In [80]:
with Session(engine) as session:
    row = session.execute(
        select(User.name, Address).
        where(User.id==Address.user_id).
        order_by(Address.id)
    ).all()
    print(row)

[('spongebob', Address(id=1, email_address='spongebob@sqlalchemy.org')), ('sandy', Address(id=2, email_address='sandy@sqlalchemy.org')), ('sandy', Address(id=3, email_address='sandy@squirrelpower.org'))]

In [81]:
from sqlalchemy import func, cast

stmt = (
    select(
        ("Username: "+user_table.c.name).label("username"),
    ).order_by(user_table.c.name)
)
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(f"{row.username}")

Username: patrick
Username: sandy
Username: spongebob

In [83]:
from sqlalchemy import text
stmt = (
    select(
        text("'some phrase'"), user_table.c.name
    ).order_by(user_table.c.name)
)
with engine.connect() as conn:
    print(conn.execute(stmt).all())

[('some phrase', 'patrick'), ('some phrase', 'sandy'), ('some phrase', 'spongebob')]

In [85]:
from sqlalchemy import literal_column
stmt = (
    select(
        literal_column("'some phrase'").label("p"), user_table.c.name
    ).order_by(user_table.c.name)



)
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(f"{row.p}, {row.name}")

some phrase, patrick
some phrase, sandy
some phrase, spongebob

In [86]:
print(select(user_table).where(user_table.c.name == 'squidward'))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = :name_1

In [87]:
print(
    select(address_table.c.email_address).
    where(user_table.c.name=='squidward').
    where(address_table.c.user_id == user_table.c.id)

)

SELECT address.email_address
FROM address, user_account
WHERE user_account.name = :name_1 AND address.user_id = user_account.id

In [88]:
print(
    select(address_table.c.email_address).
    where(
        user_table.c.name == 'squidward',
        address_table.c.user_id == user_table.c.id
    )
)

SELECT address.email_address
FROM address, user_account
WHERE user_account.name = :name_1 AND address.user_id = user_account.id

In [90]:
from sqlalchemy import and_, or_
print(
    select(Address.email_address).
    where(
        and_(
            or_(User.name == 'squidward', User.name == 'sandy'),
            Address.user_id == User.id
        )
    )
)

SELECT address.email_address
FROM address, user_account
WHERE (user_account.name = :name_1 OR user_account.name = :name_2) AND address.user_id = user_account.id

In [91]:
print(
    select(User).filter_by(name='spongebob', fullname='Spongebob Squarepants')
)

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = :name_1 AND user_account.fullname = :fullname_1

In [92]:
print(select(user_table.c.name))

SELECT user_account.name
FROM user_account

In [93]:
print(select(user_table.c.name, address_table.c.email_address))

SELECT user_account.name, address.email_address
FROM user_account, address

In [94]:
 print(
    select(user_table.c.name, address_table.c.email_address).
    join_from(user_table, address_table)
 )

SELECT user_account.name, address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id

In [95]:
print(
    select(address_table.c.email_address).
    select_from(user_table).join(address_table)
)

SELECT address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id

In [96]:
from sqlalchemy import func
print(
    select(func.count('*')).select_from(user_table)
)

SELECT count(:count_2) AS count_1
FROM user_account

In [97]:
print(
    select(address_table.c.email_address).
    select_from(user_table).
    join(address_table, user_table.c.id==address_table.c.user_id)

)

SELECT address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id

In [98]:
print(
    select(user_table).join(address_table, isouter=True)
)

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account LEFT OUTER JOIN address ON user_account.id = address.user_id

In [104]:
print(select(user_table).order_by(user_table.c.name))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account ORDER BY user_account.name

In [108]:
#order by
print(select(user_table).order_by(user_table.c.name))
print(select(User).order_by(User.fullname.desc()))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account ORDER BY user_account.name
SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account ORDER BY user_account.fullname DESC

In [109]:
#group by, having
from sqlalchemy import func
count_fn = func.count(user_table.c.id)
print(count_fn)

count(user_account.id)

In [111]:
with engine.connect() as conn:
    result = conn.execute(
        select(User.name, func.count(Address.id).label("count")).
        join(Address).
        group_by(User.name).
        having(func.count(Address.id) > 1)
    )
    print(result.all())

[('sandy', 2)]

In [112]:
from sqlalchemy import func, desc
stmt = select(
    Address.user_id,
    func.count(Address.id).label('num_addresses')).\
    group_by("user_id").order_by("user_id", desc("num_addresses"))

print(stmt)

SELECT address.user_id, count(address.id) AS num_addresses
FROM address GROUP BY address.user_id ORDER BY address.user_id, num_addresses DESC

In [114]:
#using aliases
user_alias_1 = user_table.alias()
user_alias_2 = user_table.alias()
print(
    select(user_alias_1.c.name, user_alias_2.c.name).
    join_from(user_alias_1, user_alias_2, user_alias_1.c.id > user_alias_2.c.id)


)

SELECT user_account_1.name, user_account_2.name AS name_1
FROM user_account AS user_account_1 JOIN user_account AS user_account_2 ON user_account_1.id > user_account_2.id

In [115]:
#ORM Entity Aliases
from sqlalchemy.orm import aliased
address_alias_1 = aliased(Address)
address_alias_2 = aliased(Address)
print(
    select(User).
    join_from(User, address_alias_1).
    where(address_alias_1.email_address == 'patrick@aol.com').
    join_from(User, address_alias_2).
    where(address_alias_2.email_address == 'patrick@gmail.com')
 )

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account JOIN address AS address_1 ON user_account.id = address_1.user_id JOIN address AS address_2 ON user_account.id = address_2.user_id
WHERE address_1.email_address = :email_address_1 AND address_2.email_address = :email_address_2

In [118]:
#subqueries and ctes
subq = select(
    func.count(address_table.c.id).label("count"),
    address_table.c.user_id
).group_by(address_table.c.user_id).subquery()

print(subq)

SELECT count(address.id) AS count, address.user_id
FROM address GROUP BY address.user_id