In [1]:
import os.path
import yaml
from sqlalchemy import text, create_engine, MetaData
from sqlalchemy import Table, Column, Integer, String, ForeignKey, bindparam
from sqlalchemy.orm import declarative_base, relationship, Session
from sqlalchemy import insert, select, update, delete
import psycopg2
from sqlalchemy import func, cast
from sqlalchemy import text
from sqlalchemy import literal_column
from sqlalchemy import and_, or_
from sqlalchemy import desc, union_all
from sqlalchemy.orm import aliased

yamlfilepath = os.path.expanduser('~\\yamlfiles\\information.yaml') 
with open(yamlfilepath) as f:
    login = yaml.load(f, Loader=yaml.FullLoader)

address = f'postgresql://{login["user"]}:{login["pw"]}@localhost:{login["port"]}/{login["db"]}'
engine = create_engine(address)

In [2]:
metadata_obj = MetaData()

user_table = Table(
    "user_account",
    metadata_obj,
    Column('id', Integer, primary_key=True), 
    Column('name', String(30)),
    Column('fullname',String)

)

In [3]:
print(user_table.c.keys())

['id', 'name', 'fullname']

In [4]:
address_table = Table(
    "address",
    metadata_obj,
    Column('id', Integer, primary_key=True),
    Column('user_id', ForeignKey('user_account.id'), nullable=False),
    Column('email_address', String, nullable=False)
)

metadata_obj.create_all(engine)

In [169]:
Base = declarative_base()
class User(Base):
    __tablename__ = 'user_account'
    
    id = Column(Integer, primary_key=True)
    name = Column(String(30))
    fullname = Column(String)
    
    addresses = relationship("Address", back_populates='user', lazy='selectin')
    
    def __repr__(self):
        return f"User(id={self.id!r}, name={self.name!r}, fullname={self.fullname!r})"
    
    
    
class Address(Base):
    __tablename__='address'
    
    id = Column(Integer, primary_key=True)
    email_address = Column(String, nullable=False)
    user_id = Column(Integer, ForeignKey('user_account.id'))
    
    user = relationship("User", back_populates="addresses")
    
    def __repr__(self):
        return f"Address(id={self.id!r}, email_address={self.email_address!r})"

In [6]:
print(User.__table__)

user_account

In [7]:
sandy = User(name='sandy', fullname='sandy cheeks')

In [8]:
print(sandy)

User(id=None, name='sandy', fullname='sandy cheeks')

In [9]:
some_table = Table("some_table", metadata_obj, autoload_with=engine)

In [10]:
stmt = insert(user_table).values(name='spongebob', fullname='spongebob squarepants')
compiled = stmt.compile()
with engine.connect() as conn:
    result = conn.execute(stmt)

In [11]:
with engine.connect() as conn:
    result = conn.execute(
    insert(user_table),
        [
            {"name": "sandy", "fullname": 'Sandy Cheeks'},
            {"name": "patrick", "fullname": "Patrick Star"}
        ] 
    )

In [12]:
result = select(user_table).where(user_table.c.name == 'sandy')

with engine.connect() as conn:
    for row in conn.execute(result):
        print(row)

(2, 'sandy', 'Sandy Cheeks')

In [13]:
scalar_subq = (
    select(user_table.c.id).
    where(user_table.c.name==bindparam('username')).
    scalar_subquery()
)


print(scalar_subq)

with engine.connect() as conn:
    result = conn.execute(
        insert(address_table).values(user_id=scalar_subq),
        [
            {"username": 'spongebob', "email_address": "spongebob@sqlalchemy.org"},
            {"username": 'sandy', "email_address": "sandy@sqlalchemy.org"},
            {"username": 'sandy', "email_address": "sandy@squirrelpower.org"}
        ]
    )

(SELECT user_account.id
FROM user_account
WHERE user_account.name = :username)

In [14]:
print(select(user_table))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account

In [15]:
print(select(user_table.c.name, user_table.c.fullname))

SELECT user_account.name, user_account.fullname
FROM user_account

In [16]:
print(select(User))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account

In [17]:
with Session(engine) as session:
    row = session.execute(select(User)).first()
    print(row)

(User(id=1, name='spongebob', fullname='spongebob squarepants'),)

In [18]:
with Session(engine) as session:
    row = session.execute(
        select(User.name, Address).
        where(User.id==Address.user_id).
        order_by(Address.id)
    ).all()
    print(row)

[('spongebob', Address(id=1, email_address='spongebob@sqlalchemy.org')), ('sandy', Address(id=2, email_address='sandy@sqlalchemy.org')), ('sandy', Address(id=3, email_address='sandy@squirrelpower.org'))]

In [19]:


stmt = (
    select(
        ("Username: "+user_table.c.name).label("username"),
    ).order_by(user_table.c.name)
)
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(f"{row.username}")

Username: patrick
Username: sandy
Username: spongebob

In [20]:

stmt = (
    select(
        text("'some phrase'"), user_table.c.name
    ).order_by(user_table.c.name)
)
with engine.connect() as conn:
    print(conn.execute(stmt).all())

[('some phrase', 'patrick'), ('some phrase', 'sandy'), ('some phrase', 'spongebob')]

In [21]:

stmt = (
    select(
        literal_column("'some phrase'").label("p"), user_table.c.name
    ).order_by(user_table.c.name)



)
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(f"{row.p}, {row.name}")

some phrase, patrick
some phrase, sandy
some phrase, spongebob

In [22]:
print(select(user_table).where(user_table.c.name == 'squidward'))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = :name_1

In [23]:
print(
    select(address_table.c.email_address).
    where(user_table.c.name=='squidward').
    where(address_table.c.user_id == user_table.c.id)

)

SELECT address.email_address
FROM address, user_account
WHERE user_account.name = :name_1 AND address.user_id = user_account.id

In [24]:
print(
    select(address_table.c.email_address).
    where(
        user_table.c.name == 'squidward',
        address_table.c.user_id == user_table.c.id
    )
)

SELECT address.email_address
FROM address, user_account
WHERE user_account.name = :name_1 AND address.user_id = user_account.id

In [25]:

print(
    select(Address.email_address).
    where(
        and_(
            or_(User.name == 'squidward', User.name == 'sandy'),
            Address.user_id == User.id
        )
    )
)

SELECT address.email_address
FROM address, user_account
WHERE (user_account.name = :name_1 OR user_account.name = :name_2) AND address.user_id = user_account.id

In [26]:
print(
    select(User).filter_by(name='spongebob', fullname='Spongebob Squarepants')
)

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = :name_1 AND user_account.fullname = :fullname_1

In [27]:
print(select(user_table.c.name))

SELECT user_account.name
FROM user_account

In [28]:
print(select(user_table.c.name, address_table.c.email_address))

SELECT user_account.name, address.email_address
FROM user_account, address

In [29]:
 print(
    select(user_table.c.name, address_table.c.email_address).
    join_from(user_table, address_table)
 )

SELECT user_account.name, address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id

In [30]:
print(
    select(address_table.c.email_address).
    select_from(user_table).join(address_table)
)

SELECT address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id

In [31]:

print(
    select(func.count('*')).select_from(user_table)
)

SELECT count(:count_2) AS count_1
FROM user_account

In [32]:
print(
    select(address_table.c.email_address).
    select_from(user_table).
    join(address_table, user_table.c.id==address_table.c.user_id)

)

SELECT address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id

In [33]:
print(
    select(user_table).join(address_table, isouter=True)
)

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account LEFT OUTER JOIN address ON user_account.id = address.user_id

In [34]:
print(select(user_table).order_by(user_table.c.name))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account ORDER BY user_account.name

In [35]:
#order by
print(select(user_table).order_by(user_table.c.name))
print(select(User).order_by(User.fullname.desc()))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account ORDER BY user_account.name
SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account ORDER BY user_account.fullname DESC

In [36]:
#group by, having


count_fn = func.count(user_table.c.id)
print(count_fn)

count(user_account.id)

In [37]:
with engine.connect() as conn:
    result = conn.execute(
        select(User.name, func.count(Address.id).label("count")).
        join(Address).
        group_by(User.name).
        having(func.count(Address.id) > 1)
    )
    print(result.all())

[('sandy', 2)]

In [38]:

stmt = select(
    Address.user_id,
    func.count(Address.id).label('num_addresses')).\
    group_by("user_id").order_by("user_id", desc("num_addresses"))

print(stmt)

SELECT address.user_id, count(address.id) AS num_addresses
FROM address GROUP BY address.user_id ORDER BY address.user_id, num_addresses DESC

In [39]:
#using aliases
user_alias_1 = user_table.alias()
user_alias_2 = user_table.alias()
print(
    select(user_alias_1.c.name, user_alias_2.c.name).
    join_from(user_alias_1, user_alias_2, user_alias_1.c.id > user_alias_2.c.id)


)

SELECT user_account_1.name, user_account_2.name AS name_1
FROM user_account AS user_account_1 JOIN user_account AS user_account_2 ON user_account_1.id > user_account_2.id

In [40]:
#ORM Entity Aliases

address_alias_1 = aliased(Address)
address_alias_2 = aliased(Address)
print(
    select(User).
    join_from(User, address_alias_1).
    where(address_alias_1.email_address == 'patrick@aol.com').
    join_from(User, address_alias_2).
    where(address_alias_2.email_address == 'patrick@gmail.com')
 )

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account JOIN address AS address_1 ON user_account.id = address_1.user_id JOIN address AS address_2 ON user_account.id = address_2.user_id
WHERE address_1.email_address = :email_address_1 AND address_2.email_address = :email_address_2

In [41]:
#subqueries and ctes
subq = select(
    func.count(address_table.c.id).label("count"),
    address_table.c.user_id
).group_by(address_table.c.user_id).subquery()

print(subq)
print(select(subq.c.user_id, subq.c.count))

SELECT count(address.id) AS count, address.user_id
FROM address GROUP BY address.user_id
SELECT anon_1.user_id, anon_1.count
FROM (SELECT count(address.id) AS count, address.user_id AS user_id
FROM address GROUP BY address.user_id) AS anon_1

In [42]:
stmt = select(
    user_table.c.name,
    user_table.c.fullname,
    subq.c.count
).join_from(user_table, subq)

print(stmt)

SELECT user_account.name, user_account.fullname, anon_1.count
FROM user_account JOIN (SELECT count(address.id) AS count, address.user_id AS user_id
FROM address GROUP BY address.user_id) AS anon_1 ON user_account.id = anon_1.user_id

In [43]:
subq = select(
    func.count(address_table.c.id).label("count"),
    address_table.c.user_id
).group_by(address_table.c.user_id).subquery()

print(subq)
print(select(subq.c.user_id, subq.c.count))

SELECT count(address.id) AS count, address.user_id
FROM address GROUP BY address.user_id
SELECT anon_1.user_id, anon_1.count
FROM (SELECT count(address.id) AS count, address.user_id AS user_id
FROM address GROUP BY address.user_id) AS anon_1

In [44]:
stmt = select(
    user_table.c.name,
    user_table.c.fullname,
    subq.c.count
).join_from(user_table, subq)

print(stmt)

SELECT user_account.name, user_account.fullname, anon_1.count
FROM user_account JOIN (SELECT count(address.id) AS count, address.user_id AS user_id
FROM address GROUP BY address.user_id) AS anon_1 ON user_account.id = anon_1.user_id

In [45]:
subq = select(
    func.count(address_table.c.id).label("count"),
    address_table.c.user_id
).group_by(address_table.c.user_id).cte()
           
stmt = select(
    user_table.c.name,
    user_table.c.fullname,
    subq.c.count
).join_from(user_table, subq)
           
print(stmt)

WITH anon_1 AS
(SELECT count(address.id) AS count, address.user_id AS user_id
FROM address GROUP BY address.user_id)
 SELECT user_account.name, user_account.fullname, anon_1.count
FROM user_account JOIN anon_1 ON user_account.id = anon_1.user_id

In [46]:
subq = select(Address).where(~Address.email_address.like('%@aol.com')).subquery()
address_subq = aliased(Address, subq)
stmt = select(User, address_subq).join_from(User, address_subq).order_by(User.id, address_subq.id)
with Session(engine) as session:
    for user, address in session.execute(stmt):
        print(f"{user} {address}")

User(id=1, name='spongebob', fullname='spongebob squarepants') Address(id=1, email_address='spongebob@sqlalchemy.org')
User(id=2, name='sandy', fullname='Sandy Cheeks') Address(id=2, email_address='sandy@sqlalchemy.org')
User(id=2, name='sandy', fullname='Sandy Cheeks') Address(id=3, email_address='sandy@squirrelpower.org')

In [47]:
cte_obj = select(Address).where(~Address.email_address.like('%@aol.com')).cte()
address_cte = aliased(Address, cte_obj)
stmt = select(User, address_cte).join_from(User, address_cte).order_by(User.id, address_cte.id)
with Session(engine) as session:
    for user, address in session.execute(stmt):
        print(f"{user} {address}")

User(id=1, name='spongebob', fullname='spongebob squarepants') Address(id=1, email_address='spongebob@sqlalchemy.org')
User(id=2, name='sandy', fullname='Sandy Cheeks') Address(id=2, email_address='sandy@sqlalchemy.org')
User(id=2, name='sandy', fullname='Sandy Cheeks') Address(id=3, email_address='sandy@squirrelpower.org')

In [48]:
subq = select(func.count(address_table.c.id)).\
    where(user_table.c.id == address_table.c.user_id).\
    scalar_subquery()
print(subq)

(SELECT count(address.id) AS count_1
FROM address, user_account
WHERE user_account.id = address.user_id)

In [49]:
print(subq == 5)

(SELECT count(address.id) AS count_1
FROM address, user_account
WHERE user_account.id = address.user_id) = :param_1

In [50]:
stmt = select(user_table.c.name, subq.label("address_count"))
print(stmt)

SELECT user_account.name, (SELECT count(address.id) AS count_1
FROM address
WHERE user_account.id = address.user_id) AS address_count
FROM user_account

In [51]:
subq = select(func.count(address_table.c.id)).\
        where(user_table.c.id == address_table.c.user_id).\
        scalar_subquery().correlate(user_table)

with engine.connect() as conn:
    result = conn.execute(
        select(
            user_table.c.name,
            address_table.c.email_address,
            subq.label("address_count")
        ).
        join_from(user_table, address_table).
        order_by(user_table.c.id, address_table.c.id)
    )
    print(result.all())
    
#scalar_subquery() 함수를 통해 user_table 상관관계를 명시함으로 오류 해결

[('spongebob', 'spongebob@sqlalchemy.org', 1), ('sandy', 'sandy@sqlalchemy.org', 2), ('sandy', 'sandy@squirrelpower.org', 2)]

In [52]:
stmt1 = select(user_table).where(user_table.c.name == 'sandy')
stmt2 = select(user_table).where(user_table.c.name == 'spongebob')
u = union_all(stmt1, stmt2)
with engine.connect() as conn:
    result = conn.execute(u)
    print(result.all())

[(2, 'sandy', 'Sandy Cheeks'), (1, 'spongebob', 'spongebob squarepants')]

In [53]:
u_subq = u.subquery()
stmt = (
    select(u_subq.c.name, address_table.c.email_address).
    join_from(address_table, u_subq).
    order_by(u_subq.c.name, address_table.c.email_address)
)
with engine.connect() as conn:
    result = conn.execute(stmt)
    print(result.all())

[('sandy', 'sandy@sqlalchemy.org'), ('sandy', 'sandy@squirrelpower.org'), ('spongebob', 'spongebob@sqlalchemy.org')]

In [54]:
orm_stmt = select(User).from_statement(u)
with Session(engine) as session:
    for obj in session.execute(orm_stmt).scalars():
        print(obj)

User(id=2, name='sandy', fullname='Sandy Cheeks')
User(id=1, name='spongebob', fullname='spongebob squarepants')

In [55]:
# user_alias = aliased(User, u.subquery())
# orm_stmt = select(user_alias).order_by(user_alias.id)
# with Session(engine) as session:
#     for obj in session.execute(orm_stmt).scalars():
#         print(obj)

In [56]:
subq = (
    select(func.count(address_table.c.id)).
    where(user_table.c.id == address_table.c.user_id).
    group_by(address_table.c.user_id).
    having(func.count(address_table.c.id) > 1)
).exists()
with engine.connect() as conn:
    result = conn.execute(
        select(user_table.c.name).where(subq)
    )
    print(result.all())

[('sandy',)]

In [57]:
subq = (
    select(address_table.c.id).
    where(user_table.c.id == address_table.c.user_id)
).exists()
with engine.connect() as conn:
    result = conn.execute(
        select(user_table.c.name).where(~subq)
    )
    print(result.all())

[('patrick',)]

In [58]:
print(select(func.count()).select_from(user_table))

SELECT count(*) AS count_1
FROM user_account

In [59]:
print(select(func.lower("A String With Much UPPERCASE")))

SELECT lower(:lower_2) AS lower_1

In [60]:
stmt = select(func.now())
with engine.connect() as conn:
    result = conn.execute(stmt)
    print(result.all())

[(datetime.datetime(2021, 11, 23, 13, 26, 26, 574540, tzinfo=datetime.timezone(datetime.timedelta(seconds=32400))),)]

In [61]:
print(select(func.some_crazy_function(user_table.c.name, 17)))

SELECT some_crazy_function(user_account.name, :some_crazy_function_2) AS some_crazy_function_1
FROM user_account

In [62]:
from sqlalchemy.dialects import postgresql
print(select(func.now()).compile(dialect=postgresql.dialect()))

SELECT now() AS now_1

In [63]:
m1 = func.max(Column("some_int", Integer))
m1.type

Integer()

In [64]:
m2 = func.max(Column("some_str", String))
m2.type

String()

In [65]:
func.now().type

DateTime()

In [66]:
func.current_date().type

Date()

In [67]:
stmt = select(
    func.row_number().over(partition_by=user_table.c.name),
    user_table.c.name,
    address_table.c.email_address
).select_from(user_table).join(address_table)

with engine.connect() as conn:
    result = conn.execute(stmt)
    print(result.all())

[(1, 'sandy', 'sandy@sqlalchemy.org'), (2, 'sandy', 'sandy@squirrelpower.org'), (1, 'spongebob', 'spongebob@sqlalchemy.org')]

In [68]:
print(
    func.unnest(
        func.percentile_disc([0.25,0.5,0.75,1]).within_group(user_table.c.name)
    )
)
# unnest(percentile_disc(:percentile_disc_1) WITHIN GROUP (ORDER BY user_account.name))

unnest(percentile_disc(:percentile_disc_1) WITHIN GROUP (ORDER BY user_account.name))

In [69]:
stmt = select(
    func.count(address_table.c.email_address).filter(user_table.c.name == 'sandy'),
    func.count(address_table.c.email_address).filter(user_table.c.name == 'spongebob')
).select_from(user_table).join(address_table)
with engine.connect() as conn:
    result = conn.execute(stmt)
    print(result.all())

[(2, 1)]

In [70]:
#json_each 오류 발생으로 json_array_elements_text함수로 대체
onetwothree = func.json_each('["one", "two", "three"]').table_valued("value")
stmt = select(onetwothree).where(onetwothree.c.value.in_(["two", "three"]))
print(stmt)
# with engine.connect() as conn:  
#     result = conn.execute(stmt)
#     print(result.all())

SELECT anon_1.value
FROM json_each(:json_each_1) AS anon_1
WHERE anon_1.value IN ([POSTCOMPILE_value_1])

In [71]:
#json_each 오류 발생으로 json_array_elements_text함수로 대체
onetwothree = func.json_array_elements_text('["one", "two", "three"]').table_valued("value")
stmt = select(onetwothree).where(onetwothree.c.value.in_(["two", "three"]))
with engine.connect() as conn:  
    result = conn.execute(stmt)
    print(result.all())

[('two',), ('three',)]

In [72]:
stmt = select(func.json_array_elements('["one", "two"]').column_valued("x"))
print(stmt)

SELECT x
FROM json_array_elements(:json_array_elements_1) AS x

In [73]:
from sqlalchemy.dialects import oracle
stmt = select(func.sclar_strings(5).column_valued("s"))
print(stmt.compile(dialect=oracle.dialect()))

SELECT COLUMN_VALUE s
FROM TABLE (sclar_strings(:sclar_strings_1)) s

In [74]:
from sqlalchemy import select, func
stmt = select(func.json_each('{"a":"foo", "b":"bar"}').table_valued("key", "value"))
print(stmt)

SELECT anon_1.key, anon_1.value
FROM json_each(:json_each_1) AS anon_1

In [75]:
from sqlalchemy import select, func, literal_column
stmt = select(
    func.json_populate_record(
        literal_column("null::myrowtype"),
        '{"a":1, "b":2}'
    ).table_valued("a", "b", name="x")
)
print(stmt)

SELECT x.a, x.b
FROM json_populate_record(null::myrowtype, :json_populate_record_1) AS x

# UPDATE and DELETE

In [76]:
from sqlalchemy import update
stmt = (
    update(user_table).where(user_table.c.name == 'patrick').
    values(fullname='Patrick the Star')
)
print(stmt)

UPDATE user_account SET fullname=:fullname WHERE user_account.name = :name_1

In [77]:
stmt = (
    update(user_table).
    values(fullname="Username: " + user_table.c.name)
)
print(stmt)

UPDATE user_account SET fullname=(:name_1 || user_account.name)

In [78]:
from sqlalchemy import bindparam
stmt = (
    update(user_table).
    where(user_table.c.name == bindparam('oldname')).
    values(name=bindparam('newname'))
)

with engine.begin() as conn:
    conn.execute(
        stmt,
        [
            {'oldname':'jack', 'newname':'ed'},
            {'oldname':'wendy', 'newname':'mary'},
            {'oldname':'jim', 'newname':'jake'},
        ]
    )

In [79]:
scalar_subq = (
    select(address_table.c.email_address).
    where(address_table.c.user_id == user_table.c.id).
    order_by(address_table.c.id).
    limit(1).
    scalar_subquery()
)
update_stmt = update(user_table).values(fullname=scalar_subq)
print(update_stmt)

UPDATE user_account SET fullname=(SELECT address.email_address
FROM address
WHERE address.user_id = user_account.id ORDER BY address.id
 LIMIT :param_1)

In [80]:
update_stmt = (
    update(user_table).
    where(user_table.c.id == address_table.c.user_id).
    where(address_table.c.email_address == 'patrick@aol.com').
    values(fullname='Pat')
)
print(update_stmt)

UPDATE user_account SET fullname=:fullname FROM address WHERE user_account.id = address.user_id AND address.email_address = :email_address_1

In [81]:
update_stmt = (

    update(user_table).
    where(user_table.c.id == address_table.c.user_id).
    where(address_table.c.email_address == 'patrick@aol.com').
    values(
        {
            user_table.c.fullname: "Pat",
            address_table.c.email_address: "pat@aol.com"
        }
    )
)

from sqlalchemy.dialects import mysql
print(update_stmt.compile(dialect=mysql.dialect()))

UPDATE user_account, address SET address.email_address=%s, user_account.fullname=%s WHERE user_account.id = address.user_id AND address.email_address = %s

In [82]:
update_stmt = (
    update(some_table).
    ordered_values(
        (some_table.c.y, 20),
        (some_table.c.x, some_table.c.y + 10)
    )
)
print(update_stmt)

UPDATE some_table SET y=:y, x=(some_table.y + :y_1)

In [83]:
from sqlalchemy import delete
stmt = delete(user_table).where(user_table.c.name == 'patrick')
print(stmt)

DELETE FROM user_account WHERE user_account.name = :name_1

In [84]:
delete_stmt = (
    delete(user_table).
    where(user_table.c.id == address_table.c.user_id).
    where(address_table.c.email_address == 'patrick@aol.com')
)

from sqlalchemy.dialects import postgresql
print(delete_stmt.compile(dialect=postgresql.dialect()))

DELETE FROM user_account USING address WHERE user_account.id = address.user_id AND address.email_address = %(email_address_1)s

In [85]:
update_stmt = (
    update(user_table).where(user_table.c.name == 'patrick').
    values(fullname='Patrick the Star').
    returning(user_table.c.id, user_table.c.name)
)
print(update_stmt)

UPDATE user_account SET fullname=:fullname WHERE user_account.name = :name_1 RETURNING user_account.id, user_account.name

In [86]:
delete_stmt = (
    delete(user_table).where(user_table.c.name == 'patrick').
    returning(user_table.c.id, user_table.c.name)
)
print(delete_stmt)

DELETE FROM user_account WHERE user_account.name = :name_1 RETURNING user_account.id, user_account.name

# Data Manipulation with the ORM

In [87]:
squidward = User(name="squidward", fullname="Squidward Tentacles")
krabs = User(name="ehkrabs", fullname="Eugene H. krabs")

In [88]:
squidward

User(id=None, name='squidward', fullname='Squidward Tentacles')

In [89]:
session = Session(engine)
session.add(squidward)
session.add(krabs)
session.new

IdentitySet([User(id=None, name='squidward', fullname='Squidward Tentacles'), User(id=None, name='ehkrabs', fullname='Eugene H. krabs')])

In [90]:
session.flush()

In [91]:
squidward.id

4

In [92]:
krabs.id

5

In [93]:
some_squidward = session.get(User, 4)
some_squidward

User(id=4, name='squidward', fullname='Squidward Tentacles')

In [94]:
some_squidward is squidward

True

In [95]:
session.commit()

In [96]:
sandy = session.execute(select(User).filter_by(name="sandy")).scalar_one()

In [97]:
sandy

User(id=2, name='sandy', fullname='Sandy Cheeks')

In [98]:
sandy.fullname = "Sandy Squirrel"

In [99]:
sandy in session.dirty

True

In [100]:
sandy_fullname = session.execute(
    select(User.fullname).where(User.id == 2)
).scalar_one()

In [101]:
sandy in session.dirty

False

In [102]:
session.execute(
    update(User).
    where(User.name == "sandy").
    values(fullname="Sandy Squirrel Extraordinaire")
)

In [103]:
sandy.fullname

'Sandy Squirrel Extraordinaire'

In [104]:
patrick = session.get(User, 3)

In [105]:
session.delete(patrick)

In [106]:
session.execute(select(User).where(User.name == "patrick")).first()

In [107]:
patrick in session

False

In [108]:
squidward = session.get(User, 4)
session.execute(delete(User).where(User.name == "squidward"))

In [109]:
squidward in session

False

In [110]:
session.rollback()

In [111]:
sandy.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1e3fc77d7f0>}

In [112]:
sandy.fullname

'Sandy Cheeks'

In [113]:
session.close()

In [114]:
# 오류가 발생하는지 확인하기 위한 코드. 
squidward.name

DetachedInstanceError: Instance <User at 0x1e3fc661af0> is not bound to a Session; attribute refresh operation cannot proceed (Background on this error at: http://sqlalche.me/e/14/bhk3)

# Working with Related Objects¶

In [174]:
u1 = User(name='pkrabs', fullname='Pearl Krabs')
u1.addresses

[]

In [175]:
a1 = Address(email_address="pearl.krabs@gmail.com")
u1.addresses.append(a1)

In [176]:
u1.addresses

[Address(id=None, email_address='pearl.krabs@gmail.com')]

In [177]:
a1.user

User(id=None, name='pkrabs', fullname='Pearl Krabs')

In [178]:
a2 = Address(email_address="pearl@aol.com", user=u1)
u1.addresses

[Address(id=None, email_address='pearl.krabs@gmail.com'),
 Address(id=None, email_address='pearl@aol.com')]

In [179]:
a2.user = u1

In [180]:
session.add(u1)
u1 in session

True

In [181]:
a1 in session

True

In [182]:
a2 in session

True

In [183]:
print(u1.id)
print(a1.user_id)

None
None

In [184]:
session.commit()

In [185]:
u1.id

6

In [186]:
u1.addresses

[Address(id=4, email_address='pearl.krabs@gmail.com'),
 Address(id=5, email_address='pearl@aol.com')]

In [187]:
a2

Address(id=5, email_address='pearl@aol.com')

In [188]:
print(
    select(Address.email_address).
    select_from(User).
    join(User.addresses)
)

SELECT address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id

In [189]:
print(address)

Address(id=3, email_address='sandy@squirrelpower.org')

In [190]:
from sqlalchemy.orm import aliased

address_alias_1 = aliased(Address)
address_alias_2 = aliased(Address)
print(
    select(User).
    join(User.addresses.of_type(address_alias_1)).
    where(address_alias_1.email_address == 'patrick@aol.com').
    join(User.addresses.of_type(address_alias_2)).
    where(address_alias_2.email_address == 'patrick@gmail.com')
)

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account JOIN address AS address_1 ON user_account.id = address_1.user_id JOIN address AS address_2 ON user_account.id = address_2.user_id
WHERE address_1.email_address = :email_address_1 AND address_2.email_address = :email_address_2

In [191]:
user_alias_1 = aliased(User)
print(
    select(user_alias_1.name).
    join(user_alias_1.addresses)
)

SELECT user_account_1.name
FROM user_account AS user_account_1 JOIN address ON user_account_1.id = address.user_id

In [192]:
stmt = (
    select(User.fullname).
    join(User.addresses.and_(Address.email_address == 'pearl.krabs@gmail.com'))
)
session.execute(stmt).all()

[('Pearl Krabs',)]

In [193]:

stmt = (
    select(User.fullname).
    where(User.addresses.any(Address.email_address == 'pearl.krabs@gmail.com'))
)
session.execute(stmt).all()

[('Pearl Krabs',)]

In [194]:
# 관련 없는 행을 찾을 때 주로 사용되는 구문
stmt = (
    select(User.fullname).
    where(~User.addresses.any())
)
session.execute(stmt).all()

[('Patrick Star',), ('Squidward Tentacles',), ('Eugene H. krabs',)]

In [195]:
stmt = (
    select(Address.email_address).
    where(Address.user.has(User.name=="pkrabs"))
)
session.execute(stmt).all()

[('pearl.krabs@gmail.com',), ('pearl@aol.com',)]

In [196]:
print(select(Address).where(Address.user == u1))

SELECT address.id, address.email_address, address.user_id
FROM address
WHERE :param_1 = address.user_id

In [197]:
print(select(Address).where(Address.user != u1))

SELECT address.id, address.email_address, address.user_id
FROM address
WHERE address.user_id != :user_id_1 OR address.user_id IS NULL

In [198]:
print(select(User).where(User.addresses.contains(a1)))

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.id = :param_1

In [199]:
from sqlalchemy.orm import with_parent
print(select(Address).where(with_parent(u1, User.addresses)))

SELECT address.id, address.email_address, address.user_id
FROM address
WHERE :param_1 = address.user_id

In [200]:
from sqlalchemy.orm import relationship, selectinload

for user_obj in session.execute(
    select(User).options(selectinload(User.addresses))
).scalars():
    user_obj.addresses

In [201]:
# from sqlalchemy.orm import selectinload
# stmt = (
#     select(User).options(selectinload(User.addresses)).order_by(User.id)
# )

# for row in session.execute(stmt):
#     print(f"{row.User.name} ({', '.join(a.email_address for a in row.addresses)})")


from sqlalchemy.orm import selectinload
stmt = (
    select(User).options(selectinload(User.addresses)).order_by(User.id)
)
for row in session.execute(stmt):
    print(f"{row.User.name}  ({', '.join(a.email_address for a in row.User.addresses)})")

spongebob  (spongebob@sqlalchemy.org)
sandy  (sandy@sqlalchemy.org, sandy@squirrelpower.org)
patrick  ()
squidward  ()
ehkrabs  ()
pkrabs  (pearl.krabs@gmail.com, pearl@aol.com)

In [202]:
from sqlalchemy.orm import joinedload
stmt = (
    select(Address).options(joinedload(Address.user, innerjoin=True)).order_by(Address.id)
)
for row in session.execute(stmt):
    print(f"{row.Address.email_address}{row.Address.user.name}")

spongebob@sqlalchemy.orgspongebob
sandy@sqlalchemy.orgsandy
sandy@squirrelpower.orgsandy
pearl.krabs@gmail.compkrabs
pearl@aol.compkrabs

In [203]:
from sqlalchemy.orm import contains_eager
stmt = (
    select(Address).
    join(Address.user).
    where(User.name == 'pkrabs').
    options(contains_eager(Address.user)).order_by(Address.id)
)
for row in session.execute(stmt):
    print(f"{row.Address.email_address} {row.Address.user.name}")

pearl.krabs@gmail.com pkrabs
pearl@aol.com pkrabs

In [204]:
stmt = (
    select(Address).
    join(Address.user).
    where(User.name == 'pkrabs').
    options(joinedload(Address.user)).order_by(Address.id)
)
print(stmt)

SELECT address.id, address.email_address, address.user_id, user_account_1.id AS id_1, user_account_1.name, user_account_1.fullname
FROM address JOIN user_account ON user_account.id = address.user_id LEFT OUTER JOIN user_account AS user_account_1 ON user_account_1.id = address.user_id
WHERE user_account.name = :name_1 ORDER BY address.id

In [208]:
from sqlalchemy.orm import selectinload
stmt = (
    select(User).
    options(
        selectinload(
            User.addresses.and_(
                ~Address.email_address.endswith("sqlalchemy.org")
            )
        )
    ).
    order_by(User.id).
    execution_options(populate_existing=True)
)
for row in session.execute(stmt):
    print(f"{row.User.name} {', '.join(a.email_address for a in row.User.addresses)}")

spongebob
sandy sandy@squirrelpower.org
patrick
squidward
ehkrabs
pkrabs pearl.krabs@gmail.com, pearl@aol.com